.nav-container {
  position: fixed;
  width: 100%;
  margin-top: 2rem;
  height: 5rem;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu {
  cursor: pointer;
}
.icon {
  cursor: pointer;
  font-size: 26px;
  color: white;
}
.cart {
  cursor: pointer;
  color: white;
  font-size: 35px;
}
.icons {
  /* align-items: center; */

  display: flex;
}
.words {
  color: white;
  padding: 10;
  left: 50%;
  top: 200%;
  transform: translate(-50%, -50%);

  width: 120%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.links {
  position: relative;
  opacity: 0;
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.link:link,
.link:hover,
.link:visited {
  text-decoration: none;
  color: white;
}
.link-container {
  position: relative;
}

.line {
  margin-left: auto;
  margin-right: auto;
  width: 1em;
  height: 1px;
  background-color: white;
  align-self: center;
}
.circle {
  color: white;
}
