* {
  margin: 0;
  box-sizing: border-box;
}
.app {
  /* background-color: var(--primary-color); */
  /* position: relative; */
}
:root {
  --primary-color: #02040f;
  --secondary-color: #cba454;
  /* background-color: #02040f; */
  --ubuntu: "Ubuntu", Sans-Serif;

  --cabin: "Cabin", Sans-Serif;
}
body {
  font-size: 18px;
}
.title-home {
  color: white;
}
#root {
  background-color: var(--primary-color);
  z-index: 0;
}
.circles-1 {
  right: 0;
  top: 0;
  width: 16.2em;
  height: 38em;
  position: absolute;
}
.circles-2 {
  left: 0;
  top: 39em;
  width: 16em;
  height: 47.1em;
  position: absolute;
}
.circles-3 {
  right: 0;
  top: 117em;
  width: 16em;
  height: 48em;
  position: absolute;
}
