.content-container {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-element {
  border: 1px solid red;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
  width: 15rem;
}
.card-element > .image-container {
  height: 65%;
  width: 100%;
}
.image-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.details {
  flex-grow: 1;

  max-height: 100%;
}
.btn-cart {
  border: 1px solid green;

  margin-top: 25px;
  height: 30px;
  width: 100%;
  /* border-radius: 20px; */
}
.btn-cart:active,
.btn-cart:focus {
  outline: none;
}
.details > h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.IoBagAddSharp {
  color: black;
  font-size: 1.3rem;
}
