.footer {
  height: 200px;
  /* background-color: white; */
}
.items {
  align-items: center;
}
.copyright-year {
  text-align: center;
  color: white;
  font-size: 1em;
}

.instagram {
  text-align: center;
}
.insta-icon {
  color: white;
  font-size: 3em !important;
}

.link-list {
  list-style: none;
  text-align: center;
}
.link-list > li {
  margin-bottom: 10px;
}
.link-list > li:last-child {
  margin-bottom: 0;
}
.link:link {
  text-decoration: none;
  color: white;
}

.link:visited {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: none;
  color: gray;
}

.link:active {
  text-decoration: none;
}
